<div id="calendar">
    <div id="verticalYear">{{today | date: 'y' //`fr-FR`}}</div> 
    <div id="dayAndMonth">
        <p>{{ today | date: 'd' //`fr-FR`}}</p>
        <p>{{ today | date: 'MMMM' //`fr-FR`}}</p>
    </div>
</div>

<div id="clocks">
    <p [innerHTML]="displayTimeTokyo | safe: 'html'">{{ displayTimeTokyo }}</p>
    <p [innerHTML]="displayTimeLosAngeles | safe: 'html'">{{ displayTimeLosAngeles }}</p>
    <p [innerHTML]="displayTimeNewDelhi | safe: 'html'">{{ displayTimeNewDelhi }}</p>
    <p [innerHTML]="displayTimeMontreal | safe: 'html'">{{ displayTimeMontreal }}</p>
    <p [innerHTML]="displayTimeHonolulu | safe: 'html'">{{ displayTimeHonolulu }}</p>
</div>
