#mainContainer {
  display: flex;
  margin-bottom: 50px;
}

#container {
  /* Position */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* Dimensions */
  width: 50%;
  height: 500px;
  /* Style */
  /*border: 5px solid white;*/
  border-radius: 10px;
  box-shadow: 3px 3px 3px grey;
}

.flagImg {
  width: 15%;
  height: 100%;
  border: 2px solid white;
}

.removeMap {
  display: none;
}

.showMap {
  display: block;
}

h1 {
  margin-right: 20px;
}

.titleImg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Couleur de fond en fonction des pays */
.cityContainer.usaStyle {
  background-color: salmon;
}

.cityContainer.canadaStyle {
  background-color: #ec8b8b;
}

.cityContainer.newZealandStyle {
  background-color: #55c4d8;
}

.cityContainer.southAfricaStyle {
  background-color: #357050;
}

.cityContainer.spainStyle {
  background-color: #FFB626;
}

.cityContainer.asiaStyle {
  background-color: rgb(185, 139, 77);
}

