<app-header></app-header>
<div style="padding: 20px;">
  <h2>{{title}}</h2>
  <nav>
    <p><a routerLink="home" routerLinkActive="active">Accueil</a></p>
    <p><a routerLink="galeries" routerLinkActive="active">Galeries</a></p>
    <p><a routerLink="destinations" routerLinkActive="active">Articles</a></p>
    <p><a routerLink="login" routerLinkActive="active">Ajouter</a></p>
    <p><a routerLink="rechercher" routerLinkActive="active">Rechercher</a></p>
    <p><a routerLink="apropos" routerLinkActive="active">À propos</a></p>
  </nav>
  <router-outlet></router-outlet>
</div>
